<div class="home-bg">

  <div class="home-card floating">

    <!-- IMAGE -->
    <div class="image-wrapper floating-slow">
      <div class="image-glow">
        <img src="assets/rihab.jpg" alt="Rihab Hleli" />
      </div>
    </div>

    <!-- CONTENT -->
    <div class="home-content">
      <h1>
        Rihab <span>Hleli</span>
      </h1>

      <p class="typewriter">
        Telecom engineer passionate about cybersecurity, DevSecOps and AI-based vulnerability detection.
      </p>

      <!-- INTEREST CARDS -->
      <div class="interest-cards">
        <div class="interest-card" style="--card-color: linear-gradient(135deg,#a855f7,#c084fc)">Cybersecurity</div>
        <div class="interest-card" style="--card-color: linear-gradient(135deg,#7e22ce,#3b82f6)">DevSecOps</div>
        <div class="interest-card" style="--card-color: linear-gradient(135deg,#16a34a,#facc15)">AI & Security</div>
      </div>

      <!-- ACTION BUTTONS -->
      <div class="home-actions">
        <button class="btn-circle" (click)="scrollTo('projects')">Projects</button>
        <button class="btn-circle experience" (click)="scrollTo('experience')">experience</button>
        <a class="btn-circle outline" href="assets/CV_Rihab.pdf" download>CV</a>
        <button class="btn-circle ghost" (click)="scrollTo('contact')">Contact</button>
      </div>

    </div>

  </div>

</div>
